* {
    font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック,
        "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}
.bg {
    background-color: #f5f6f6;
    padding-top: 20px;
    padding-bottom: 20px;
}
